<a href="https://colab.research.google.com/github/vijayareddy2002/ml/blob/main/ML_LAB_CS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#find s

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('finds_dset.csv')

In [ ]:
df

     SKY AIRTEMP HUMIDITY     WIND WATER FORECAST ENJOYSPORT
0  Sunny    Warm    Normal  Strong  Warm     Same        Yes
1  Sunny    Warm      High  Strong  Warm     Same        Yes
2  Rainy    Cold      High  Strong  Warm   Change         No
3  Sunny    Warm      High  Strong  Cool   Change        Yes

In [ ]:
arr=np.array(df)

In [ ]:
arr

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 'No'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes']],
      dtype=object)

In [ ]:
#hypothesis h=[pi,pi,pi,pi,pi,pi]
h=['pi','pi','pi','pi','pi','pi']
h1=np.array(h)

In [ ]:
h1

array(['pi', 'pi', 'pi', 'pi', 'pi', 'pi'], dtype='<U2')

In [ ]:
len(arr)

4

In [ ]:
def finds(arr,h):
   for i in range(0,len(arr)):
   #print(arr[i][-1])
      if(arr[i][-1]=="Yes"):
          for j in range(0,len(arr[i])-1):
           #print(i,j,arr[i][j],h[j])
              if(arr[i][j]!=h[j] and i==0 and h[j]=='pi'):#setp1
                   h[j]=arr[i][j]
              elif(arr[i][j]!=h[j] and i!=0):
                   h[j]="?"
      if(i==0):
            print("initial hypothesis:",h)
     print(h)

IndentationError: ignored

In [ ]:
print("final hypothesis is :")
finds(arr,h)

#candidate elimination
https://www.goeduhub.com/3112/demonstrate-and-implement-candidate-elimination-algorithm

In [ ]:
def finds(arr,h):
   for i in range(0,len(arr)):
   #print(arr[i][-1])
      if(arr[i][-1]=="Yes"):
          for j in range(0,len(arr[i])-1):
           #print(i,j,arr[i][j],h[j])
              if(arr[i][j]!=h[j] and i==0 and h[j]=='pi'):#setp1
                   h[j]=arr[i][j]
              elif(arr[i][j]!=h[j] and i!=0):
                   h[j]="?"
   return h

In [ ]:
#read dataset
df=pd.read_csv('finds_dset.csv')

In [ ]:
df

     SKY AIRTEMP HUMIDITY     WIND WATER FORECAST ENJOYSPORT
0  Sunny    Warm    Normal  Strong  Warm     Same        Yes
1  Sunny    Warm      High  Strong  Warm     Same        Yes
2  Rainy    Cold      High  Strong  Warm   Change         No
3  Sunny    Warm      High  Strong  Cool   Change        Yes

In [ ]:
arr=np.array(df)

In [ ]:
arr

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change', 'No'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes']],
      dtype=object)

In [ ]:
feature_vector=np.array(df.iloc[:,0:6])

In [ ]:
feature_vector

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [ ]:
target_vector=np.array(df.iloc[:,-1])

In [ ]:
target_vector

array(['Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [ ]:
#initialize general and specific hypothesis:
sp=['pi','pi','pi','pi','pi','pi']
gn=[['?' for j in range(len(sp))] for i in range(len(sp))]

In [ ]:
gn

[['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?']]

In [ ]:
def candidate_eliminate(feature_vector,target_vector,sp,gn):
  print("general hypothesis:",gn)
  print("specific hypothesis:",sp)
  for i in range(0,len(feature_vector)):
    if(target_vector[i]=="Yes"):
           for j in range(len(sp)):
               if(feature_vector[i][j]!=sp[j] and i==0):
                 sp[j]=feature_vector[i][j]
               elif(feature_vector[i][j]!=sp[j]):
                     sp[j]='?'
                     gn[i][j]='?'
    if(target_vector[i]=="No"):
         for j in range(len(sp)):
           if(feature_vector[i][i]!=sp[j]):
                   gn[j][j]=sp[j]
           else:
              gn[j][j]='?'
  print(sp)
  print(gn)

In [ ]:
candidate_eliminate(feature_vector,target_vector,sp,gn)

general hypothesis: [['Sunny', '?', '?', '?', '?', '?'], ['?', 'Warm', '?', '?', '?', '?'], ['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same'], ['?', '?', '?', 'Strong', '?', '?'], ['?', '?', '?', '?', 'Warm', '?'], ['?', '?', '?', '?', '?', 'Same']]
specific hypothesis: ['Sunny', 'Warm', '?', 'Strong', '?', '?']
['Sunny', 'Warm', '?', 'Strong', '?', '?']
[['Sunny', '?', '?', '?', '?', '?'], ['?', 'Warm', '?', '?', '?', '?'], ['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same'], ['?', '?', '?', 'Strong', '?', '?'], ['?', '?', '?', '?', 'Warm', '?'], ['?', '?', '?', '?', '?', 'Same']]

#naivebayes algorithm

In [ ]:
import pandas as pd
import numpy as np

https://www.projectpro.io/recipes/split-train-test-data-using-sklearn-and-python

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('/content/naivebayes.csv')

In [ ]:
df

     outlook temperature humidity  windy class
0      sunny         hot     high  False    no
1      sunny         hot     high   True    no
2   overcast         hot     high  False   yes
3       rain        mild     high  False   yes
4       rain        cool   normal  False   yes
5       rain        cool   normal   True    no
6   overcast        cool   normal   True   yes
7      sunny        mild     high  False    no
8      sunny        cool   normal  False   yes
9       rain        mild   normal  False   yes
10     sunny        mild   normal   True   yes
11  overcast        mild     high   True   yes
12  overcast         hot   normal  False   yes
13      rain        mild     high   True    no

In [ ]:
y=df['class']
print(y)

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: class, dtype: object

In [ ]:
df1=df.drop('class',axis=1)

#naive bayes

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('vijaya.csv')

In [ ]:
df

In [ ]:
x_train=df[:9]

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
x_test=df[10:]

In [ ]:
#calculating prior probabilities in training
cy1=x_train.loc[x_train['class']=='yes'].index.to_list()

In [ ]:
cy=len(cy1)

In [ ]:
zc=x_train.index.to_list()

In [ ]:
z=len(zc)

In [ ]:
py=cy/z

In [ ]:
py

In [ ]:
#calculating prior probabilities in training
cn1=x_train.loc[x_train['class']=='no'].index.to_list()

In [ ]:
cn=len(cn1)

In [ ]:
zn=x_train.index.to_list()

In [ ]:
z=len(zn)

In [ ]:
pn=cn/z

In [ ]:
pn

In [ ]:
a=np.array(x_test)

In [ ]:
cls=df1.columns
print(cls)
d={}
for i in range(0,len(cls)):
    l=df1[cls[i]].unique()
    for j in range(0,len(l)):
        s1=x_train.loc[(x_train[cls[i]]==l[j])  &  (x_train['class']=="yes")].index.to_list()
        r1=len(s1)
        s2=x_train.loc[(x_train[cls[i]]==l[j]) & (x_train['class']=="no")].index.to_list()
        r2=len(s2)
        d.update({l[j]:[r1/cy,r2/cn]})

In [ ]:
d

In [ ]:
def naivebayes(d,u,py,ps):
    yes_s=py
    no_s=pn
    for i in range(0,len(u)):
        k=d[u[i]]
        yes_s=yes_s*k[0]
        no_s=no_s*k[1]
    if(yes_s>no_s):
        return "yes"
    else:
        return "no"

In [ ]:
predicted_label=[]
for i in range(0,len(a)):
    if(a[i][-1]=="yes"):
        a[i][-1]=True
    else:
        a[i][-1]=False
    z2=naivebayes(d,a[i],py,pn)
    predicted_label.append(z2)

In [ ]:
predicted_label

In [ ]:
actual_class=x_test['class']

In [ ]:
from sklearn.metrics import accuracy_score
z=sklearn.metrics.accuracy_score(actual_class, predicted_label)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(actual_class, predicted_label)

#text classification

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/text_ml.csv', encoding='cp1252')

In [ ]:
df

                           Text Documents Label
0                    I love this sandwich   pos
1                This is an amazing place   pos
2      I feel very good about these beers   pos
3                    This is my best work   pos
4                    What an awesome view   pos
5           I do not like this restaurant   neg
6                I am tired of this stuff   neg
7                  I can’t deal with this   neg
8                    He is my sworn enemy   neg
9                     My boss is horrible   neg
10               This is an awesome place   pos
11  I do not like the taste of this juice   neg
12                        I love to dance   pos
13      I am sick and tired of this place   neg
14                   What a great holiday   pos
15         That is a bad locality to stay   neg
16         We will have good fun tomorrow   pos
17       I went to my enemy’s house today   neg

In [ ]:

df['Text Documents']=df['Text Documents'].str.lower()

In [ ]:
df['Text Documents']

0                      i love this sandwich
1                  this is an amazing place
2        i feel very good about these beers
3                      this is my best work
4                      what an awesome view
5             i do not like this restaurant
6                  i am tired of this stuff
7                    i can’t deal with this
8                      he is my sworn enemy
9                       my boss is horrible
10                 this is an awesome place
11    i do not like the taste of this juice
12                          i love to dance
13        i am sick and tired of this place
14                     what a great holiday
15           that is a bad locality to stay
16           we will have good fun tomorrow
17         i went to my enemy’s house today
Name: Text Documents, dtype: object

In [ ]:
df1_train=df[:14]

In [ ]:
df1_test=df[14:]

In [ ]:
a=np.array(df1_train)

In [ ]:
a

array([['i love this sandwich', 'pos'],
       ['this is an amazing place', 'pos'],
       ['i feel very good about these beers', 'pos'],
       ['this is my best work', 'pos'],
       ['what an awesome view', 'pos'],
       ['i do not like this restaurant', 'neg'],
       ['i am tired of this stuff', 'neg'],
       ['i can’t deal with this', 'neg'],
       ['he is my sworn enemy', 'neg'],
       ['my boss is horrible', 'neg'],
       ['this is an awesome place', 'pos'],
       ['i do not like the taste of this juice', 'neg'],
       ['i love to dance', 'pos'],
       ['i am sick and tired of this place', 'neg']], dtype=object)

In [ ]:
vocab=[]
for i in range(0,len(a)):
  s=a[i][0].split(" ")
  vocab.extend(s)

In [ ]:
vocab

['i',
 'love',
 'this',
 'sandwich',
 'this',
 'is',
 'an',
 'amazing',
 'place',
 'i',
 'feel',
 'very',
 'good',
 'about',
 'these',
 'beers',
 'this',
 'is',
 'my',
 'best',
 'work',
 'what',
 'an',
 'awesome',
 'view',
 'i',
 'do',
 'not',
 'like',
 'this',
 'restaurant',
 'i',
 'am',
 'tired',
 'of',
 'this',
 'stuff',
 'i',
 'can’t',
 'deal',
 'with',
 'this',
 'he',
 'is',
 'my',
 'sworn',
 'enemy',
 'my',
 'boss',
 'is',
 'horrible',
 'this',
 'is',
 'an',
 'awesome',
 'place',
 'i',
 'do',
 'not',
 'like',
 'the',
 'taste',
 'of',
 'this',
 'juice',
 'i',
 'love',
 'to',
 'dance',
 'i',
 'am',
 'sick',
 'and',
 'tired',
 'of',
 'this',
 'place']

In [ ]:
s=set(vocab)

In [ ]:
s

{'about',
 'am',
 'amazing',
 'an',
 'and',
 'awesome',
 'beers',
 'best',
 'boss',
 'can’t',
 'dance',
 'deal',
 'do',
 'enemy',
 'feel',
 'good',
 'he',
 'horrible',
 'i',
 'is',
 'juice',
 'like',
 'love',
 'my',
 'not',
 'of',
 'place',
 'restaurant',
 'sandwich',
 'sick',
 'stuff',
 'sworn',
 'taste',
 'the',
 'these',
 'this',
 'tired',
 'to',
 'very',
 'view',
 'what',
 'with',
 'work'}

In [ ]:
k=list(s)

In [ ]:
k

['the',
 'best',
 'these',
 'my',
 'dance',
 'good',
 'awesome',
 'juice',
 'enemy',
 'like',
 'this',
 'work',
 'view',
 'very',
 'sworn',
 'can’t',
 'am',
 'horrible',
 'beers',
 'feel',
 'and',
 'what',
 'stuff',
 'about',
 'he',
 'sick',
 'an',
 'boss',
 'deal',
 'taste',
 'sandwich',
 'is',
 'tired',
 'of',
 'not',
 'i',
 'with',
 'amazing',
 'love',
 'restaurant',
 'to',
 'do',
 'place']

In [ ]:
p=[]
n=[]
for i in range(0,len(a)):
  if(a[i][1]=="pos"):
    zx=a[i][0].split(" ")
    #sx=set(zx)
    lx=list(zx)
    p.extend(lx)
  elif(a[i][1]=="neg"):
    zx=a[i][0].split(" ")
    #sx=set(zx)
    lx=list(zx)
    n.extend(lx)

In [ ]:
p

['i',
 'love',
 'this',
 'sandwich',
 'this',
 'is',
 'an',
 'amazing',
 'place',
 'i',
 'feel',
 'very',
 'good',
 'about',
 'these',
 'beers',
 'this',
 'is',
 'my',
 'best',
 'work',
 'what',
 'an',
 'awesome',
 'view',
 'this',
 'is',
 'an',
 'awesome',
 'place',
 'i',
 'love',
 'to',
 'dance']

In [ ]:
n

['i',
 'do',
 'not',
 'like',
 'this',
 'restaurant',
 'i',
 'am',
 'tired',
 'of',
 'this',
 'stuff',
 'i',
 'can’t',
 'deal',
 'with',
 'this',
 'he',
 'is',
 'my',
 'sworn',
 'enemy',
 'my',
 'boss',
 'is',
 'horrible',
 'i',
 'do',
 'not',
 'like',
 'the',
 'taste',
 'of',
 'this',
 'juice',
 'i',
 'am',
 'sick',
 'and',
 'tired',
 'of',
 'this',
 'place']

In [ ]:
d={}
for i in range(0,len(k)):
     zp=(p.count(k[i])+1)/(len(p)+len(k))
     zn=(n.count(k[i])+1)/(len(n)+len(k))
     d.update({k[i]:[zp,zn]})

In [ ]:
d

{'the': [0.012987012987012988, 0.023255813953488372],
 'best': [0.025974025974025976, 0.011627906976744186],
 'these': [0.025974025974025976, 0.011627906976744186],
 'my': [0.025974025974025976, 0.03488372093023256],
 'dance': [0.025974025974025976, 0.011627906976744186],
 'good': [0.025974025974025976, 0.011627906976744186],
 'awesome': [0.03896103896103896, 0.011627906976744186],
 'juice': [0.012987012987012988, 0.023255813953488372],
 'enemy': [0.012987012987012988, 0.023255813953488372],
 'like': [0.012987012987012988, 0.03488372093023256],
 'this': [0.06493506493506493, 0.06976744186046512],
 'work': [0.025974025974025976, 0.011627906976744186],
 'view': [0.025974025974025976, 0.011627906976744186],
 'very': [0.025974025974025976, 0.011627906976744186],
 'sworn': [0.012987012987012988, 0.023255813953488372],
 'can’t': [0.012987012987012988, 0.023255813953488372],
 'am': [0.012987012987012988, 0.03488372093023256],
 'horrible': [0.012987012987012988, 0.023255813953488372],
 'beers': [0.025974025974025976, 0.011627906976744186],
 'feel': [0.025974025974025976, 0.011627906976744186],
 'and': [0.012987012987012988, 0.023255813953488372],
 'what': [0.025974025974025976, 0.011627906976744186],
 'stuff': [0.012987012987012988, 0.023255813953488372],
 'about': [0.025974025974025976, 0.011627906976744186],
 'he': [0.012987012987012988, 0.023255813953488372],
 'sick': [0.012987012987012988, 0.023255813953488372],
 'an': [0.05194805194805195, 0.011627906976744186],
 'boss': [0.012987012987012988, 0.023255813953488372],
 'deal': [0.012987012987012988, 0.023255813953488372],
 'taste': [0.012987012987012988, 0.023255813953488372],
 'sandwich': [0.025974025974025976, 0.011627906976744186],
 'is': [0.05194805194805195, 0.03488372093023256],
 'tired': [0.012987012987012988, 0.03488372093023256],
 'of': [0.012987012987012988, 0.046511627906976744],
 'not': [0.012987012987012988, 0.03488372093023256],
 'i': [0.05194805194805195, 0.06976744186046512],
 'with': [0.012987012987012988, 0.023255813953488372],
 'amazing': [0.025974025974025976, 0.011627906976744186],
 'love': [0.03896103896103896, 0.011627906976744186],
 'restaurant': [0.012987012987012988, 0.023255813953488372],
 'to': [0.025974025974025976, 0.011627906976744186],
 'do': [0.012987012987012988, 0.03488372093023256],
 'place': [0.03896103896103896, 0.023255813953488372]}

In [ ]:
b=np.array(df1_test)

In [ ]:
b

array([['what a great holiday', 'pos'],
       ['that is a bad locality to stay', 'neg'],
       ['we will have good fun tomorrow', 'pos'],
       ['i went to my enemy’s house today', 'neg']], dtype=object)

In [ ]:
pc=df['Label'].loc[(df['Label']=="pos")].count()
pn=df['Label'].loc[(df['Label']=="neg")].count()

In [ ]:
pc1=pc/(pc+pn)
pn1=(pn)/(pc+pn)

In [ ]:
print(pc)
print(pn)

9
9

In [ ]:
def calculate_class(k1,d,pc1,pn1):
   yess=pc1
   noo=pn1
   sz=k1.split(" ")
   for i in range(0,len(sz)):
     if sz[i] in p:
       ef=d[sz[i]]
       yess=yess*ef[0]
     else:
       yess=yess*(1/len(k))
     if( sz[i] in n):
       ef=d[sz[i]]
       noo=noo*ef[1]
     else:
      noo=noo*(1/(len(k)));
   if(yess>noo):
       return "pos"
   else:
     return "neg"

In [ ]:
predicted_label=[]
for i in range(0,len(b)):
  sr=calculate_class(b[i][0],d,pc1,pn1)
  predicted_label.append(sr)

In [ ]:
b

array([['what a great holiday', 'pos'],
       ['that is a bad locality to stay', 'neg'],
       ['we will have good fun tomorrow', 'pos'],
       ['i went to my enemy’s house today', 'neg']], dtype=object)

In [ ]:
actual_classes=b[:,-1]

In [ ]:
predicted_label

['pos', 'pos', 'pos', 'neg']

In [ ]:
df_test=pd.DataFrame(df[14:])

In [ ]:
df_test['predicted_label']=predicted_label

In [ ]:
df_test

                      Text Documents Label predicted_label
14              what a great holiday   pos             pos
15    that is a bad locality to stay   neg             pos
16    we will have good fun tomorrow   pos             pos
17  i went to my enemy’s house today   neg             neg

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
ac=confusion_matrix(actual_classes,predicted_label)

In [ ]:
acc=(ac[0][0]+ac[1][1])/(ac[0][0]+ac[0][1]+ac[1][0]+ac[1][1])

In [ ]:
acc*100

75.0

In [ ]:
precis=(ac[1][1])/(ac[1][1]+ac[0][1])

In [ ]:
precis

0.6666666666666666

In [ ]:
recal=(ac[1][1])/(ac[1][1]+ac[1][0])

In [ ]:
recal

1.0

#Thus in binary classification, the count of true negatives is
   # :math:`C_{0,0}`, false negatives is :math:`C_{1,0}`, true positives is
   # :math:`C_{1,1}` and false positives is :math:`C_{0,1}`.

#BAYESIAN NETWORK

# **maximum likelihood** :It involves finding the parameter values that maximize the likelihood of the data given in the model.

#The goal of maximum likelihood estimation is to find the values of the model parameters that maximize the likelihood function over the parameter space, that is Intuitively, this selects the parameter values that make the observed data most probable.

In [ ]:
pip install pgmpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pgmpy
  Downloading pgmpy-0.1.22-py3-none-any.whl (1.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 31.1 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from pgmpy) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pgmpy) (1.5.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from pgmpy) (1.2.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (from pgmpy) (1.2.2)
Requirement already satisfied: torch in /usr/local/lib/python3.9/dist-packages (from pgmpy) (2.0.0+cu118)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from pgmpy) (4.65.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from pgmpy) (1.10.1)
Requirement already satisfied: opt-einsum in /usr/local/lib/python3.9/dist-packages (from pgmpy) (3.3.0)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.9/dist-packages (from pgmpy) (3.0.9)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.9/dist-packages (from pgmpy) (0.13.5)
Requirement already satisfied: networkx in /usr/local/lib/python3.9/dist-packages (from pgmpy) (3.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pgmpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pgmpy) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->pgmpy) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels->pgmpy) (23.1)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.9/dist-packages (from statsmodels->pgmpy) (0.5.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from torch->pgmpy) (3.11.0)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.9/dist-packages (from torch->pgmpy) (2.0.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from torch->pgmpy) (3.1.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.9/dist-packages (from torch->pgmpy) (1.11.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch->pgmpy) (4.5.0)
Requirement already satisfied: lit in /usr/local/lib/python3.9/dist-packages (from triton==2.0.0->torch->pgmpy) (16.0.1)
Requirement already satisfied: cmake in /usr/local/lib/python3.9/dist-packages (from triton==2.0.0->torch->pgmpy) (3.25.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.2->statsmodels->pgmpy) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->torch->pgmpy) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.9/dist-packages (from sympy->torch->pgmpy) (1.3.0)
Installing collected packages: pgmpy
Successfully installed pgmpy-0.1.22

In [ ]:
import pandas as pd
from pgmpy.estimators import MaximumLikelihoodEstimator

In [ ]:
from pgmpy.models import BayesianModel
from pgmpy.inference import VariableElimination

In [ ]:
hd=pd.read_csv('/content/heart.csv')

In [ ]:
hd

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
hd=hd.replace('?',np.nan)

In [ ]:
hd.rename(index = {"target": "heartdisease"},
inplace = True)

In [ ]:
hd.rename(columns={"target": "heartdisease"})

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heartdisease
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
hd.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [ ]:
model=BayesianModel([('age','target'),('sex','target'),('exang','target'),('cp','target'),('target','restecg'),('target','chol')])

/usr/local/lib/python3.9/dist-packages/pgmpy/models/BayesianModel.py:8: FutureWarning: BayesianModel has been renamed to BayesianNetwork. Please use BayesianNetwork class, BayesianModel will be removed in future.
  warnings.warn(

In [ ]:
model.fit(hd,estimator=MaximumLikelihoodEstimator)

In [ ]:
hd_infer=VariableElimination(model)

In [ ]:
#querying
q1=hd_infer.query(variables=['target'],evidence={'restecg':1,'cp':2,'age':40})

In [ ]:
print(q1)

+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.4109 |
+-----------+---------------+
| target(1) |        0.5891 |
+-----------+---------------+

In [ ]:
q2=hd_infer.query(variables=['target'],evidence={'sex':0,'age':40})

/usr/local/lib/python3.9/dist-packages/pgmpy/models/BayesianModel.py:8: FutureWarning: BayesianModel has been renamed to BayesianNetwork. Please use BayesianNetwork class, BayesianModel will be removed in future.
  warnings.warn(

In [ ]:
print(q2)

+-----------+---------------+
| target    |   phi(target) |
+===========+===============+
| target(0) |        0.5000 |
+-----------+---------------+
| target(1) |        0.5000 |
+-----------+---------------+

In [ ]:
model.get_independencies()

(sex ⟂ exang, age, cp)
(sex ⟂ restecg, chol | target)
(sex ⟂ age, cp | exang)
(sex ⟂ exang, cp | age)
(sex ⟂ exang, age | cp)
(sex ⟂ restecg | target, chol)
(sex ⟂ restecg, chol | exang, target)
(sex ⟂ restecg, chol | target, age)
(sex ⟂ chol | target, restecg)
(sex ⟂ restecg, chol | target, cp)
(sex ⟂ cp | exang, age)
(sex ⟂ age | exang, cp)
(sex ⟂ exang | age, cp)
(sex ⟂ restecg | exang, target, chol)
(sex ⟂ restecg | target, age, chol)
(sex ⟂ restecg | cp, target, chol)
(sex ⟂ restecg, chol | exang, target, age)
(sex ⟂ chol | exang, target, restecg)
(sex ⟂ restecg, chol | exang, target, cp)
(sex ⟂ chol | target, age, restecg)
(sex ⟂ restecg, chol | target, age, cp)
(sex ⟂ chol | target, restecg, cp)
(sex ⟂ restecg | exang, target, age, chol)
(sex ⟂ restecg | exang, target, cp, chol)
(sex ⟂ restecg | cp, target, age, chol)
(sex ⟂ chol | exang, target, age, restecg)
(sex ⟂ restecg, chol | exang, target, age, cp)
(sex ⟂ chol | exang, target, restecg, cp)
(sex ⟂ chol | target, age, restecg, cp)
(sex ⟂ restecg | target, exang, cp, chol, age)
(sex ⟂ chol | target, exang, restecg, cp, age)
(chol ⟂ sex, exang, age, restecg, cp | target)
(chol ⟂ exang, age, restecg, cp | target, sex)
(chol ⟂ sex, age, restecg, cp | exang, target)
(chol ⟂ exang, sex, restecg, cp | target, age)
(chol ⟂ exang, age, sex, cp | target, restecg)
(chol ⟂ exang, sex, age, restecg | target, cp)
(chol ⟂ age, restecg, cp | exang, target, sex)
(chol ⟂ exang, restecg, cp | target, age, sex)
(chol ⟂ exang, age, cp | target, restecg, sex)
(chol ⟂ exang, age, restecg | target, sex, cp)
(chol ⟂ sex, restecg, cp | exang, target, age)
(chol ⟂ age, sex, cp | exang, target, restecg)
(chol ⟂ sex, age, restecg | exang, target, cp)
(chol ⟂ exang, sex, cp | target, age, restecg)
(chol ⟂ exang, sex, restecg | target, age, cp)
(chol ⟂ exang, age, sex | target, restecg, cp)
(chol ⟂ restecg, cp | exang, target, age, sex)
(chol ⟂ age, cp | exang, target, restecg, sex)
(chol ⟂ age, restecg | exang, target, sex, cp)
(chol ⟂ exang, cp | target, age, sex, restecg)
(chol ⟂ exang, restecg | target, age, sex, cp)
(chol ⟂ exang, age | target, restecg, sex, cp)
(chol ⟂ sex, cp | exang, target, age, restecg)
(chol ⟂ sex, restecg | exang, target, age, cp)
(chol ⟂ age, sex | exang, target, restecg, cp)
(chol ⟂ exang, sex | target, age, restecg, cp)
(chol ⟂ cp | target, exang, restecg, age, sex)
(chol ⟂ restecg | target, exang, cp, age, sex)
(chol ⟂ age | target, exang, restecg, cp, sex)
(chol ⟂ exang | target, restecg, cp, age, sex)
(chol ⟂ sex | target, exang, restecg, cp, age)
(exang ⟂ age, sex, cp)
(exang ⟂ age, cp | sex)
(exang ⟂ restecg, chol | target)
(exang ⟂ sex, cp | age)
(exang ⟂ age, sex | cp)
(exang ⟂ restecg, chol | target, sex)
(exang ⟂ cp | age, sex)
(exang ⟂ age | sex, cp)
(exang ⟂ restecg | target, chol)
(exang ⟂ restecg, chol | target, age)
(exang ⟂ chol | target, restecg)
(exang ⟂ restecg, chol | target, cp)
(exang ⟂ sex | age, cp)
(exang ⟂ restecg | target, sex, chol)
(exang ⟂ restecg, chol | target, age, sex)
(exang ⟂ chol | target, restecg, sex)
(exang ⟂ restecg, chol | target, sex, cp)
(exang ⟂ restecg | target, age, chol)
(exang ⟂ restecg | cp, target, chol)
(exang ⟂ chol | target, age, restecg)
(exang ⟂ restecg, chol | target, age, cp)
(exang ⟂ chol | target, restecg, cp)
(exang ⟂ restecg | target, age, sex, chol)
(exang ⟂ restecg | cp, target, sex, chol)
(exang ⟂ chol | target, age, sex, restecg)
(exang ⟂ restecg, chol | target, age, sex, cp)
(exang ⟂ chol | target, restecg, sex, cp)
(exang ⟂ restecg | cp, target, age, chol)
(exang ⟂ chol | target, age, restecg, cp)
(exang ⟂ restecg | target, cp, chol, age, sex)
(exang ⟂ chol | target, restecg, cp, age, sex)
(age ⟂ exang, sex, cp)
(age ⟂ exang, cp | sex)
(age ⟂ restecg, chol | target)
(age ⟂ sex, cp | exang)
(age ⟂ exang, sex | cp)
(age ⟂ restecg, chol | target, sex)
(age ⟂ cp | exang, sex)
(age ⟂ exang | sex, cp)
(age ⟂ restecg | target, chol)
(age ⟂ restecg, chol | exang, target)
(age ⟂ chol | target, restecg)
(age ⟂ restecg, chol | target, cp)
(age ⟂ sex | exang, cp)
(age ⟂ restecg | target, sex, chol)
(age ⟂ restecg, chol | exang, target, sex)
(age ⟂ chol | target, restecg, sex)
(age ⟂ restecg, chol | target, sex, cp)
(age ⟂ restecg | exang, target, chol)
(age ⟂ restecg | cp, target, chol)
(age ⟂ chol | exang, target, restecg)
(age ⟂ restecg, chol | exang, target, cp)
(age ⟂ chol | target, restecg, cp)
(age ⟂ restecg | exang, target, sex, chol)
(age ⟂ restecg | cp, target, sex, chol)
(age ⟂ chol | exang, target, restecg, sex)
(age ⟂ restecg, chol | exang, target, sex, cp)
(age ⟂ chol | target, restecg, sex, cp)
(age ⟂ restecg | exang, target, cp, chol)
(age ⟂ chol | exang, target, restecg, cp)
(age ⟂ restecg | target, exang, cp, chol, sex)
(age ⟂ chol | target, exang, restecg, cp, sex)
(restecg ⟂ chol, exang, age, sex, cp | target)
(restecg ⟂ exang, age, sex, cp | target, chol)
(restecg ⟂ chol, age, sex, cp | exang, target)
(restecg ⟂ exang, sex, cp, chol | target, age)
(restecg ⟂ exang, age, chol, cp | target, sex)
(restecg ⟂ exang, age, sex, chol | target, cp)
(restecg ⟂ age, sex, cp | exang, target, chol)
(restecg ⟂ exang, sex, cp | target, age, chol)
(restecg ⟂ exang, age, cp | target, sex, chol)
(restecg ⟂ exang, age, sex | cp, target, chol)
(restecg ⟂ chol, sex, cp | exang, target, age)
(restecg ⟂ age, chol, cp | exang, target, sex)
(restecg ⟂ age, sex, chol | exang, target, cp)
(restecg ⟂ exang, chol, cp | target, age, sex)
(restecg ⟂ exang, sex, chol | target, age, cp)
(restecg ⟂ exang, age, chol | target, sex, cp)
(restecg ⟂ sex, cp | exang, target, age, chol)
(restecg ⟂ age, cp | exang, target, sex, chol)
(restecg ⟂ age, sex | exang, target, cp, chol)
(restecg ⟂ exang, cp | target, age, sex, chol)
(restecg ⟂ exang, sex | cp, target, age, chol)
(restecg ⟂ exang, age | cp, target, sex, chol)
(restecg ⟂ chol, cp | exang, target, age, sex)
(restecg ⟂ sex, chol | exang, target, age, cp)
(restecg ⟂ age, chol | exang, target, sex, cp)
(restecg ⟂ exang, chol | target, age, sex, cp)
(restecg ⟂ cp | target, exang, chol, age, sex)
(restecg ⟂ sex | target, exang, cp, chol, age)
(restecg ⟂ age | target, exang, cp, chol, sex)
(restecg ⟂ exang | target, cp, chol, age, sex)
(restecg ⟂ chol | target, exang, cp, age, sex)
(cp ⟂ exang, age, sex)
(cp ⟂ exang, age | sex)
(cp ⟂ restecg, chol | target)
(cp ⟂ age, sex | exang)
(cp ⟂ exang, sex | age)
(cp ⟂ restecg, chol | target, sex)
(cp ⟂ age | exang, sex)
(cp ⟂ exang | age, sex)
(cp ⟂ restecg | target, chol)
(cp ⟂ restecg, chol | exang, target)
(cp ⟂ restecg, chol | target, age)
(cp ⟂ chol | target, restecg)
(cp ⟂ sex | exang, age)
(cp ⟂ restecg | target, sex, chol)
(cp ⟂ restecg, chol | exang, target, sex)
(cp ⟂ restecg, chol | target, age, sex)
(cp ⟂ chol | target, restecg, sex)
(cp ⟂ restecg | exang, target, chol)
(cp ⟂ restecg | target, age, chol)
(cp ⟂ restecg, chol | exang, target, age)
(cp ⟂ chol | exang, target, restecg)
(cp ⟂ chol | target, age, restecg)
(cp ⟂ restecg | exang, target, sex, chol)
(cp ⟂ restecg | target, age, sex, chol)
(cp ⟂ restecg, chol | exang, target, age, sex)
(cp ⟂ chol | exang, target, restecg, sex)
(cp ⟂ chol | target, age, sex, restecg)
(cp ⟂ restecg | exang, target, age, chol)
(cp ⟂ chol | exang, target, age, restecg)
(cp ⟂ restecg | target, exang, chol, age, sex)
(cp ⟂ chol | target, exang, restecg, age, sex)

#try using cancer
https://pgmpy.org/examples/Creating%20a%20Discrete%20Bayesian%20Network.html

#DECISION TREE CLASSIFICATION

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/naivebayes.csv')

In [ ]:
df

     outlook temperature humidity  windy class
0      sunny         hot     high  False    no
1      sunny         hot     high   True    no
2   overcast         hot     high  False   yes
3       rain        mild     high  False   yes
4       rain        cool   normal  False   yes
5       rain        cool   normal   True    no
6   overcast        cool   normal   True   yes
7      sunny        mild     high  False    no
8      sunny        cool   normal  False   yes
9       rain        mild   normal  False   yes
10     sunny        mild   normal   True   yes
11  overcast        mild     high   True   yes
12  overcast         hot   normal  False   yes
13      rain        mild     high   True    no

In [ ]:
zlist=list(df.columns)

In [ ]:
zlist

['outlook', 'temperature', 'humidity', 'windy', 'class']

#to choose root node we first calculate gini index

#what is gini index?

Gini Index or Gini impurity measures the degree or probability of a particular variable being wrongly classified when it is randomly chosen.

But what is actually meant by ‘impurity’?

If all the elements belong to a single class, then it can be called pure. The degree of Gini Index varies between 0 and 1,

where,
'0' denotes that all elements belong to a certain class or there exists only one class (pure), and
'1' denotes that the elements are randomly distributed across various classes (impure).

A Gini Index of '0.5 'denotes equally distributed elements into some classes.

NOte:REFER LINK EXAMPLE :https://blog.quantinsti.com/gini-index/

https://blog.quantinsti.com/gini-index/

#formaule
![image.png]()

In [ ]:
def calculate_entropy(df_label):
  #firstly to know how many classes and unique values from data set use np.unique
  classes,counts=np.unique(df_label,return_counts=True)
  entrop=0
  #print(classes)
  #print(counts)
  for i in range(0,len(classes)):
     k=(-1)*(counts[i]/np.sum(counts))*(np.log2(counts[i]/np.sum(counts)))
    # print(k)
     entrop=entrop+k
  return entrop

In [ ]:
print("entropy")
calculate_entropy(df['class'])

entropy

0.9402859586706311

#information gain

# fromulae:
![image.png]()


![image.png]()

In [ ]:
def info_gainfunc(df,feature_l,label):# example(gain(df,glucose))
     z=calculate_entropy(df[label])#enropy(dataset) done--->
     classes,counts=np.unique(df[feature_l],return_counts=True)
     #print(classes)
     #print(counts)
     #calculate feature entropy like windy true or false
     #create dataframe for each
     kz=0
     entopy_feature=0
     for i in range(0,len(classes)):
              entopy_feature+=(counts[i]/np.sum(counts))*calculate_entropy(df.where(df[feature_l]==classes[i]).dropna()[label])
     fz=z-entopy_feature
     return fz

In [ ]:
info_gainfunc(df,'windy','class')

0.04812703040826949

In [ ]:
indofgaintab=pd.DataFrame(df.columns)

In [ ]:
indofgaintab

             0
0      outlook
1  temperature
2     humidity
3        windy
4        class

In [ ]:
cls=df.columns
infogain=[]
d2={}
for i in range(0,len(cls)-1):
      z=info_gainfunc(df,cls[i],'class')
      infogain.append(z)
      d2.update({cls[i]:z})
infogain.append('-')

In [ ]:
indofgaintab['infogain']=infogain

In [ ]:
indofgaintab

             0  infogain
0      outlook   0.24675
1  temperature  0.029223
2     humidity  0.151836
3        windy  0.048127
4        class         -

In [ ]:
d2

{'outlook': 0.24674981977443933,
 'temperature': 0.02922256565895487,
 'humidity': 0.15183550136234159,
 'windy': 0.04812703040826949}

In [ ]:
def max_infogain(d2):
          Keymax = max(zip(d2.values(), d2.keys()))[1]
          return Keymax

In [ ]:
def entropy_labs(ds,labd,df):
  z=df.iloc(df[ds]==labd)
  return z

In [ ]:
def check_root(d):
  if not d:
     print("root null")
  else:
    print("not null")

In [ ]:
def select_root(d2,df):
  Keymax = max(zip(d2.values(), d2.keys()))[1]
  return Keymax

In [ ]:
print(z)

outlook        2
temperature    2
humidity       2
windy          2
class          2
dtype: int64

In [ ]:
def calculateallyes(cls,gf,df):
   z=df.loc[(df[cls]==gf) &  (df['class']=="yes")].index.to_list()
   zx=len(z)
   z1=df.loc[(df[cls]==gf)].index.to_list()
   zy=len(z1)
   if(zx==zy):
    print("ALL YES")
    return 1
   else:
    return 0

In [ ]:
def calculateallno(cls,gf,df):
   z=df.loc[(df[cls]==gf) &  (df['class']=="no")].index.to_list()
   zx=len(z)
   z1=df.loc[(df[cls]==gf)].index.to_list()
   zy=len(z1)
   if(zx==zy):
    print("ALL no")
    return 1
   else:
    return 0

In [ ]:
z=df.loc[(df[cls]==gf) &  (df['class']=="no")].index.to_list()
zx=len(z)
z1=df.loc[(df[cls]==gf)].index.to_list()
zy=len(z1)

ALL YES

1

In [ ]:
l=['outlook','rain','suny']
del l[0]
l

['rain', 'suny']

In [ ]:
def calculate_nextattribute(clsx,u,df):
  l=list(df.columns)
  print(l)
  print(clsx)
  z=l.index(cls)
  del l[z]
  print(l)

In [ ]:
#select the root with most information gain and keep it as set
def decisiontree(d,d2,df):
      if not d:
          root=select_root(d2,df)
          return root
      else:
             z=list(d.keys())[-1]
             print(z)
             ut=d[z]
             for i in ut:
              #calculate all yes
                  fg=calculateallyes(z,i,df)
                  fgd=calculateallno(z,i,df)
                  if(fg==1):
                    d.update({i:"yes"})
                    continue
                  elif(fgd==1):
                     d.update({i:"no"})
                     continue
                  else:
                    print(i)
                    tf=calculate_nextattribute(z,i,df)






              #calculate all no
              #calculate information gain for all other attributes except z[j]

In [ ]:
sf=decisiontree({},d2,df)
print(sf)

outlook

In [ ]:
tree={}
values, counts = np.unique(np.array(df[sf]), return_counts=True)

In [ ]:
print(values)

['overcast' 'rain' 'sunny']

In [ ]:
tree.update({sf:list(values)})

In [ ]:
tree

{'outlook': ['overcast', 'rain', 'sunny']}

In [ ]:
decisiontree(tree,d2,df)

overcast

KeyError: ignored